@media screen and (min-width: 600px) {
    header {
        position: static;
      }
      
      #hamburger {
        display: none;
      }
      
      #primaryNav {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        width: auto;
        margin-top: 0;
      }
      
      #primaryNav a {
        border-top: none;
        padding: 0.6rem 0.9rem;
        border-radius: 999px;
      }
      
     
      .gallery {
        grid-template-columns: repeat(3, 1fr);
      }
}


